.BarChart {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "title title pad-right" "y-axis plot pad-right" "blank x-axis pad-right";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 70% 20%;

  &__title {
    grid-area: title;
  }

  &__yAxis {
    grid-area: y-axis;
  }

  &__blank {
    grid-area: blank;
  }

  &__padRight {
    fill: transparent;
  }
}
