.BarChart {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "title title" "y-axis plot" "blank x-axis";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 70% 20%;

  &__title {
    grid-area: title;
  }

  &__blank {
    grid-area: blank;
    z-index: 0;
  }
}
